ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 5px;
  top: 150px;
  align-items: flex-end;
}

li {
  list-style-type: none;
  background-color: aqua;
  border: 0.5px solid #000;
  height: 20px;
  width: 20px;
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes move {
  0% {
    left: 5px;
  }
  100% {
    left: -15px;
  }
}
